{% extends 'admin__base.html' %}

{% block style %}
	<link rel="stylesheet" href="{{url_for('static', filename='css/orders.css')}}">
{% endblock %}

{% block body %}
<table class="table">
	<thead>
		<tr>
			<th>id</th>
			<th>Стоимость</th>
			<th>Расстояние</th>
			<th>Вес</th>
			<th>Время</th>
			<th>Испольнитель</th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
			<tr>
				<td>{{ order[0] }}</td>
				<td>{{ order[1] }}</td>
				<td>{{ order[2] }}</td>
				<td>{{ order[3] }}</td>
				<td>{{ order[4] }}</td>
				<td>{{ order[5] }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}